<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#" (click)="gr()">Weather Widgets</a>
</nav>

<div class="container-fluid">

  <div *ngIf="data.length != 0">
    <a app-single-widget *ngFor="let el of data" [name]="el.cityName" [temp]="el.temperatue" [weather]="el.weather" [href]="el.link" target="_blank"></a>
  </div>

</div>

<div class="footer fixed-bottom">
  <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" [style.width]=" updateDataPercent + '%'" [attr.aria-valuenow]="updateDataPercent" aria-valuemin="0" aria-valuemax="100">Update data.</div>
  </div>
  <div class="progress">
    <div class="progress-bar bg-info" role="progressbar" [style.width]=" changeCitesPercent + '%'" [attr.aria-valuenow]="changeCitesPercent" aria-valuemin="0" aria-valuemax="100">Change cities.</div>
  </div>
</div>
